body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	background: #f6f5ee url(Grey_full.png);
	font: 24px/42px Helvetica, Sans-Serif;
}

@font-face {
	font-family:'Tallys';
	src: url(313cnZULc9L.jpg) format('opentype');
}


#container {
	background: url(313cnZULc9L.png) top repeat-x;
	background: url() top repeat-x, url() bottom repeat-x;
	padding: 0 0 31px 0;
}
#header {
	width: 961px; margin: 0 auto; position: relative;
	overflow: hidden;
}
	#header h1 a {
		position: absolute; top: 5px; left: 376px;display: block; width: 208px; height: 213px; 
		background: url(download); text-indent: -9999px;
	}
		#header h1 a:hover {
			background-position: bottom;
		}
	
	#header ul#nav {
		float: left; margin: 22px 0 0 24px; list-style: none;
	}
		#header ul#nav li {
			float: left; margin: 0 0 0 45px;
		}
			#header ul#nav li:first-child {
				margin: 0;
			}
				#header ul#nav li a {
					display: block; font: 13px Georgia, Serif; letter-spacing: 2px; color: #eeede6;
					text-decoration: none;
				}
					#header ul#nav li a:hover {
						color: #d0cfc8;
					}
	
	#header ul#subscribe {
		float: right; margin: 22px 24px 0 0; list-style: none;
	}
		#header ul#subscribe li {
			float: left; margin: 0 0 0 32px;
		}
			#header ul#subscribe li a {
				display: block; height: 16px; font: 13px Georgia, Serif; letter-spacing: 2px; color: #eeede6;
				text-decoration: none; padding: 1px 0 0 27px;
				background: url() left 1px no-repeat;
			}
				#header ul#subscribe li.rss a {
					background-position: left -16px;
				}
					#header ul#subscribe li a:hover {
						color: #d0cfc8;
					}
				
	#header h2 {
		margin: 250px 0 0 0; min-width: 500px; clear: both; text-align: center;
		background: url() center bottom no-repeat; padding: 0 0 30px 0;
		font: 24px Tallys, Georgia, Serif; letter-spacing: 4px; color: #afada2; 
		text-shadow: 0px 1px 0px #fff;
	}
        #content {
	width: 917px; margin: -240px auto 0 auto; padding: 280px 22px 0 22px;
	background: url() repeat-y;
}	

	#content #main {
		width: 684px; float: left; 
	}	
		#content #main .post {
			position: relative; margin: 0 0 60px 0; padding: 0 0 66px 0; overflow: hidden;
			background: url() bottom repeat-x;
		}
			#content #main .post h2 {
				float: left; margin: 0 0 10px 75px;
				font: 24px Lucida Grande, Lucida Sans Unicode, Helvetica, Sans-Serif; letter-spacing: normal;
			}
			#content #main .post p.date {
				position: absolute; left: 0; top: 0; padding: 4px 7px 4px 7px; 
				background: url();
				font: bold 40px Helvetica, Sans-Serif; color: #b6b6b1; text-align: center;
			} 
				#content #main .post p.date span {
					font: normal 20px Helvetica, Sans-Serif;
					display: block; margin: -5px 0 0 0; 
				}
			#content #main .post ul.meta {
				float: left; list-style: none; margin: 0 0 30px 75px; overflow: hidden;
				font: 16px Helvetica, Sans-Serif; color: #b6b6b1;
			}
				#content #main .post ul.meta li {
					float: left; margin: 0 20px 0 0;
				}
					#content #main .post ul.meta li.comments {
						padding: 0 0 0 32px; background: url() left center no-repeat;
					}
			#content #main .post .post-content {
				clear: both;
			}	
	
		
			#content #main .pagination {
				margin: 0 0 60px 0; overflow: hidden;
			} 
				#content #main .pagination p {
					margin: 0;
				}
	
			#content #main .pagination p a {
				display: block; width: 102px; height: 33px; overflow: hidden;
				background: url(); font-size: 16px;
			}
				#content #main .pagination p.prev a {
					float: left; padding: 14px 0 0 46px;
				}
				#content #main .pagination p.next a {
					float: right; text-align: right; padding: 14px 46px 0 0;
					background-position: 0 -47px;
				}
                                #footer-container {
	background: #2f2f28 url();
}	

#footer {
	width: 917px; margin: 0 auto; padding: 20px 22px 66px 22px; overflow: hidden;
	
}
	#footer a {
		color: #eeede6; text-decoration: none;
	}
		#footer a:hover {
			color: #d0cfc8;
		}
	#footer h4 {
		font: 22px Tallys, Georgia, Serif; letter-spacing: 4px; color: #afada2; margin: 0 0 14px 0;
	}

	#footer #tweet {
		width: 897px; height: 39px; margin: 0 auto 38px auto; padding: 19px 10px 0 10px; 
		background: url() repeat-x;
	}
		#footer #tweet p#message {
			float: left; color: #afada2; padding: 0 0 0 25px; font-size: 12px;
			background: url() left 2px no-repeat;
		}
		#footer #tweet p#follow a {
			float: right; display: block; width: 85px; height: 27px; margin: -3px 0 0 20px;
			background: url(); text-indent: -9999px;
		}
			#footer #tweet p#follow a:hover {
				background-position: bottom;
			}
	
	
	#footer #latest-posts {
		width: 430px; float: left;
	}
		#footer #latest-posts ul {
			list-style: none;
		}	
			#footer #latest-posts ul li {
				font-size: 16px; margin: 0 0 27px 0;
			}
			
			#footer #latest-posts ul li.subscribe {
				margin: 0 0 10px 0;
			}
				#footer #latest-posts ul li.subscribe a {
					display: block; height: 17px;
					font: 13px Georgia, Serif; letter-spacing: 2px; color: #eeede6;
					padding: 0 0 0 27px; background: url( ) left -16px no-repeat;
				}
					#footer #latest-posts ul li.subscribe a:hover {
						color: #d0cfc8;
					}
                                        #footer #music {
                                            width:278px; float: left; margin: 0 0 30px 22px;
                                        }
                                        #footer #music img{
                                            width: 75px; height: 75; border: 3px solid #262620; margin:0 11px 11px 0;background: #000;
                                        }
                                        #footer #socialize{
                                            width: 164px; float: left; margin: 0 0 30px 22px;
                                        }
                                        #footer #socialze ul{
                                            list-style: none;
                                        }
                                        #footer #socialze ul li{
                                            float: left;
                                        }
                                        #footer #socialze ul li a{
                                        display: block; width: 24px; height: 24px; margin: 0 22px 22px 0;
                                        background: url( );text-indent: -9999px;
                                        }
                                        #footer #socialize ul li.twitter a{background-position: 0 0;}
                                        #footer #socialize ul li.facebook a{background-position: -24px 0;}
                                        #footer #socialize ul li.youtube a{background-position: -48px 0;}
                                        #footer #socialize ul li.dribbble a{background-position: -72px 0; margin-right: 0;}
                                        #footer #socialize ul li.behance a{background-position: -96px 0;}
                                        #footer #socialize ul li.flickr a{background-position: 120px 0;}
                                        #footer #socialize ul li.lastfm a{background-position: -144px 0;}
                                        #footer #socialize ul li.stumbleupon a{background-position: -168px 0; margin-right: 0;}
                                        #footer #socialize ul li.digg a{background-position: -192px 0;}
                                        #footer #socialize ul li.designbump a{background-position: -240px 0;}
                                        #footer #socialize ul li.tumblr a{background-position: -216px 0;}
                                        #footer #socialize ul li.vimeo a{background-position: -264px 0; margin-right: 0;}
                                      
                                        #footer #socialize ul li.twitter a:hover{background-position: 0 -24px;}
                                        #footer #socialize ul li.facebook a:hover{background-position: -24px -24px; }
                                        #footer #socialize ul li.youtube a:hover{background-position: -48px 24px; }
                                        #footer #socialize ul li.dribbble a:hover{background-position: -72px -24px ;}
                                        #footer #socialize ul li.behance a:hover{background-position: -96 -24px ; }
                                        #footer #socialize ul li.flickr a:hover{background-position: -144px -24px; }
                                        #footer #socialize ul li.lastfm a:hover{background-position: -168px -24px; }
                                        #footer #socialize ul li.stumbleupon a:hover{background-position: -192px -24px; }
                                        #footer #socialize ul li.digg a:hover{background-position: -216px -24px;}
                                        #footer #socialize ul li.designbump a:hover{background-position: -240px -24px; }
                                        #footer #socialize ul li.tumblr a:hover{background-position: -120px 24px; }
                                        #footer #socialize ul li.vimeo a:hover{background-position: -264px -24px; }
                                        
                                        #footer #photos {
                                            width: 465px; float: left; margin: 0 0 30px 22px;
                                        }      
                                        #footer #photos a{
                                            width: 75px; height: 75px; float: left; overflow: hidden;
                                            border: 3px solid #262620; margin: 0 11px 0; background: #000;
                                              }
                                              #footer #photos img{
                                                  margin: -40px 0 0 -60px;
                                              } 
                                              #footer p#back-top{
                                                  clear: both; text-align: right;
                                                  font: 11px georgia,serif;letter-spacing: 2px;
                                                  color: #eeede6;
                                              }
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        